* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.871);
    color: rgba(255, 255, 255, 0.711);
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
    flex-wrap: wrap;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 3rem;
    color: white;
    margin-bottom: 16px;
}

.home-content h3 {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.756);
    margin-bottom: 20px;
}

.home-content p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 30px;
}

.social-media {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.social-media a {
    font-size: 2rem;
    color: white;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: rgba(18, 115, 241, 0.852);
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: rgba(18, 115, 241, 0.852);
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgba(5, 43, 93, 0.852);
}

.home-img {
    max-width: 400px;
    flex: 1;
    display: flex;
    justify-content: center;
}

.home-img img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 25px black;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.services-content{
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}
.card {
    text-align: center;
    background-color: rgb(189, 189, 189);
}
#icones {
    color: red;
    font-size: 50px;
}

.portfolio-content {
    max-width: 700px;
    width: 100%;
    margin: 2rem auto;
    padding: 0 1rem;
}
.portfolio-content .carousel,
.portfolio-content .carousel-inner {
    width: 100%;
    height: 420px; 
}

.portfolio-content .carousel-item {
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    height: 100%;
    background: rgba(255,255,255,0.02);
}

.portfolio-content .carousel-item img {
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    height: auto;
    /*object-fit: contain;*/
    display: block;
    margin: 0 auto;
    transition: transform .35s ease;
}


.portfolio-content .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.5);
    border: none;
}

.portfolio-content .carousel-indicators .active {
    background-color: #1273f1; 
}


.portfolio-content .carousel-control-prev-icon,
.portfolio-content .carousel-control-next-icon {
    filter: invert(1);
}


@media (max-width: 768px) {
    .portfolio-content .carousel-inner {
        height: 260px;
    }
}

@media (max-width: 900px) {
    .home {
        flex-direction: column-reverse;
        padding: 50px 5%;
        text-align: center;
    }

    .home-content {
        max-width: 100%;
    }

    .social-media {
        justify-content: center;
    }

    .home-img {
        margin-bottom: 30px;
    }
}
@media (max-width: 768px) {
    .services-content {
        display: grid;
        flex-direction: column;
        max-width: 400px;
        flex: 2;
        order: 2;
        display: flex;
        justify-content: center;
        gap: 10px;
        
    }
}

@media (max-width: 481px) {
    .services-content {
        display: grid;
        flex-direction:column;
        max-width: 400px;
        flex: 1;
        justify-content: center;
        gap: 10px;
    }
}