.theme-toggle{
    border-radius: 50% !important;
    width: 45px;
    height: 45px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255,0.3) !important;
    transition: all 0.3 ease;
}

body.light-mode {
    background-color: #f5f5f5 !important ;
    color: #333 !important ; 
    
}
body.light-mode h1 {
    color: black;
}
body.light-mode a{
    color: rgba(103, 103, 103, 0.381);
}

body.light-mode h3{
    color: black;
}

body.light-mode home-content h1{
    color: wheat;
}

nav.light-mode {
    background-color: #f5f5f5 !important ;
}

